*.iml
RecommenderSystem/OriginalData/u.user
RecommenderSystem/OriginalData/u.item
RecommenderSystem/OriginalData/u.data
RecommenderSystem/OriginalData/u.genre
RecommenderSystem/ContentBased/MovieProfiles.data
RecommenderSystem/ContentBased/Test1UserProfiles.data
*.xml